
/* HPSimplified */
@font-face {
        font-family: "HPSimplifiedRg";
        src:   url("https://pmelli-hp.github.io/fonts/HPSimplified_W_Rg.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
}
